<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckerBoard</title>
    <style>

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: lightgoldenrodyellow;
    /* color: darkgray; */
}

.container {
    
    align-items: center;
    justify-content: center;
    /* display: flex; */
}

.col {
    background-color: {{color1}};

}

.row {
    background-color: {{color2}};
}

table tr td {
    /* width: 50%; */
    width: 50px;
    height: 50px;

}
    </style>
</head>
<body>
    <div class="container">
    <h1>CheckerBoard</h1>
        <table class="board">
            {% for i in range(0,num): %}
            <tr>
                {% for j in range(2): %}
                <td class="col"></td>
                <td class="row"></td>
                {% endfor %}
                
            </tr>
            <tr>
                {% for j in range(2) %}
                <td class="row"></td>
                <td class="col"></td>
                {% endfor %}
                 
            </tr>
            <!-- <tr class="row">down</tr> -->
            {% endfor %}
        </table>



        
    </div>
</body>
</html>